@charset "utf-8";
/* CSS Document */


/* General Style */
#bg {background: url('design_2012/bg_center.jpg');width: 1000; height: auto; margin: auto auto; repeat-y;}
body {background:url('design_2012/bg.jpg'); background-attachment: none; background-position: center top;}
.dataBar {width:1000px;height:38px;background:url('/.s/t/882/1.gif') no-repeat;font-size:7pt;}
#logoBar {width:1000px;height:215px;background:url('/.s/t/882/3.jpg') no-repeat;}
#contentBlock {width:944px;background:url('/.s/t/882/4.gif') repeat-y;}
.column {width:200px;padding:1px 2px 1px 2px;}

#header {width:980px;height:240px; margin-bottom:10px; background:url('design_2012/header.jpg') no-repeat;}
#footer {width:980px;height:120px; margin-top:10px; background:url('design_2012/footer.jpg') no-repeat;}
.blockTable {width:200px;margin-bottom:10px;background:url('design_2012/bl_center.jpg') repeat-y;}
.blockTop {height:50px; background:url('design_2012/bl_top.jpg') no-repeat; text-align:center; color:#707070; font-size:14pt;font-weight:bold; padding-left:60px; padding-bottom:5px;}
.blockCenter {width:200px;background:url('design_2012/bl_center.jpg') repeat-y; padding:10px;}
.blockBottom {background:url('design_2012/bl_bottom.jpg') bottom no-repeat;}
.contentTable {margin-left:10px; margin-right:10px; width:560px;}
.contentTop {background:url('design_2012/ct_top.jpg');}
.contentCenter {width:560px;background:url('design_2012/ct_center.jpg') repeat-y; padding-left:10px; padding-right:10px;}
.contentBottom {background:url('design_2012/ct_bottom.jpg') bottom no-repeat;}
h1 {color:#a6a6a6; font-size:30px; font-family:arial; text-shadow:1px 1px 1px #181616}

a:link {text-decoration:none; color:#999999;}
a:active {text-decoration:none; color:#999999;}
a:visited {text-decoration:none; color:#999999;}
a:hover {text-decoration:none; color:#91a5ab;}

.topLink a:link {text-decoration:underline; color:#c0c0c0;}
.topLink a:active {text-decoration:underline; color:#c0c0c0;}
.topLink a:visited {text-decoration:underline; color:#c0c0c0;}
.topLink a:hover {text-decoration:none; color:#888888;}

a.noun:link {text-decoration:none; color:#dedede}
a.noun:active {text-decoration:none; color:#dedede}
a.noun:visited {text-decoration:none; color:#dedede}
a.noun:hover {text-decoration:none; color:#1C1C1C}

.mframe1 {padding:2 10 30 10px;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt; color:#99958c}
form {padding:0px;margin:0px;}

/* Кнопки */
input[type=submit], input[type=reset], input[type=button] {
color: #505050;
font: 9px 'Verdana';
border: 1px solid #233130;
background: #000000;
margin: 1px;
}

input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
color: #606060;
font: 9px 'Verdana';
border: 1px solid #606060;
background: #101010;
cursor: pointer;
margin: 1px;
}

/* Поля ввода */
input, textarea, select {
background-color:#090C0C;
border:1px solid #233130;
color:#767676;
font-family:Verdana,Arial,sans-serif,Helvetica;
font-size:10px;
padding:2px;
}


#buttons a img {opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80);} 
#buttons a:hover img {opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);}


#banners a img {opacity:0.4; -moz-opacity:0.4; filter:alpha(opacity=40);} 
#banners a:hover img {opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);}

.banners a img {opacity:0.4; -moz-opacity:0.4; filter:alpha(opacity=40);} 
.banners a:hover img {opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);}


/* Entries Style */


.eBlock {
border : 1px dashed #424242;

}
.eBlock1 {
border : 1px solid #424242;

}
.eBlock_photo {
border : 1px solid #424242;

}
.eTitle {
font-family : Verdana, Arial, Sans-Serif;
font-size : 13px;
font-weight : bold;
color : #598189;
padding : 3px 3px 3px 10px;
border : 1px solid #000000;
text-shadow: #000000 1px 1px 0px;
}
.eTitle a:link {
text-decoration : none;
color : #598189;
text-shadow: #000000 1px 1px 0px;
}
.eTitle a:visited {
text-decoration : none;
color : #598189;
text-shadow: #000000 1px 1px 1px;
}
.eTitle a:hover {
text-decoration : none;
color : #989898;
text-shadow: #000000 1px 1px 0px;
}
.eTitle a:active {
text-decoration : none;
color : #598189;
text-shadow: #000000 1px 1px 0px;
}
.eMessage {
color : #8c8c8c;}
 
.eScreen {border-left: 3px solid #009dff;
 border-right: 1px solid #505050;
 border-top: 1px solid #505050;
 border-bottom: 1px solid #505050;
 margin : 10px;
}

.eText {
text-align : justify;
padding : 5px;
border-top : 1px dashed #8c8c8c;
color : #8c8c8c;
}
.eDetails {
border-top : 1px dashed #424242;
background: #101010;
color : #6b6b6b;
padding-bottom : 5px;
padding-top : 3px;
text-align : left;
font-size : 8pt;
}
.eDetails1 {
border-top : 1px dashed #424242;
color : #6b6b6b;
padding-bottom : 5px;
padding-top : 3px;
text-align : left;
font-size : 9pt;
}
.eDetails2 {
border-top : 1px dashed #424242;
color : #6b6b6b;
padding-bottom : 5px;
padding-top : 3px;
text-align : left;
font-size : 9pt;
}
.eDetails_photo {
border-top : 1px soild #424242;
color : #6b6b6b;
padding-bottom : 5px;
padding-top : 3px;
text-align : left;
font-size : 7pt;
}
.eRating {
font-size : 7pt;
}
.eAttach {
margin : 16px 0 0 0;
padding : 0 0 0 15px;
}
.manTable {
border : 3px double #464646;
background : #13171e;
}
.manTdError {
color : #ff0000;
}
.cAnswer {
color : #f4f5f7;
padding-left : 15px;
padding-top : 4px;
font-style : italic;
}
.cBlock1 {
border : 3px double #464646;
background: #101010;
}
.cBlock2 {
border : 3px double #464646;
background: #202020;
}
.commTable {
color : #7f9394;
background : url('/diza/mini_bg_news.png');
border : 3px double #464646;
}
.commTd1 {
color : #7f9394;
font-weight : bold;
padding-left : 5px;
}
.commFl {
width : 100%;
color : #7f9394;
background : url('/diza/mini_bg_news.png');
border : 1px double #464646;
}
.commReg {
text-align : center;
}
.commError {
color : #ff0000;
}
.archActive {
color : #1C1C1C;
}
a.archLink:link {
text-decoration : underline;
color : #7f9394;
}
a.archLink:visited {
text-decoration : underline;
color : #7f9394;
}
a.archLink:hover {
text-decoration : none;
color : #d8d5d5;
}
a.archLink:active {
text-decoration : none;
color : #d8d5d5;
}
.archiveCalendars {
text-align : center;
color : #cacbcc;
}
.archiveDateTitle {
font-weight : bold;
color : #7f9394;
padding-top : 15px;
}
.archEntryHr {
width : 250px;
color : #dddddd;
}
.archiveeTitle li {
margin-left : 15px;
padding : 0 0 0 15px;
margin-bottom : 0.6em;
}
/* ------------- */

/* Entry Manage Table */
.manTable {border:1px solid #222222;background:#101010;}
.manTdError {color:#FF0000;}
/* ------------- */


/* Comments Style */
.cAnswer {color:#515151;padding-left:15px;padding-top:4px;font-style:italic;}
.cBlock1 {background: #101010;border:1px solid #222222;}
.cBlock2 {background:#161616;border:1px solid #222222;}
.cMessage {padding:2px;}
/* -------------- */

/* Comments Form Style */
.commTable {background:#101010;}
.smiles {background:#202020;border:1px solid #222222;}
.commReg {padding: 10 0 10 0px;text-align:center;}
.commError {color:#FF0000;}
.securityCode {font-size:9px;color:#989898;background:#101010;border:1px solid #111111;}
/* ------------------- */

/* mchat Comments Style */
.mBlock1 {background:#101010;border:1px solid #111111;}
.mBlock2 {background:#181818;border:1px solid #222222;}
.mMessage {padding:2px;}
/* -------------- */


/* News/Blog Archive Menu */
.archActive {color:#989898;}
a.archLink:link {text-decoration:underline;color:#989898;}
a.archLink:visited {text-decoration:underline;color:#989898;}
a.archLink:hover {text-decoration:none;color:#D8D5D5;}
a.archLink:active {text-decoration:none;color:#D8D5D5;}
/* ---------------------- */


/* News/Blog Archive Style */
.archiveCalendars {text-align:center;color:#CACBCC;}
.archiveDateTitle {font-weight:bold;color:#989898;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none;color:#989898;}
a.archiveDateTitleLink:visited {text-decoration:none;color:#989898;}
a.archiveDateTitleLink:hover {text-decoration:underline;color:#989898;}
a.archiveDateTitleLink:active {text-decoration:underline;color:#989898;}
.archiveNoEntry {text-align:center;color:#CACBCC;}
/* ------------------------ */



/* News/Blog Calendar Style */
.calMonth {background:#1B1B1B;border: 1px solid #060a0b;}
.calWday {color:#808080;background:#515151;width:18px;}
.calWdaySe {color:#1B1B1B;background:#808080;width:18px;}
.calWdaySu {color:#1B1B1B;background:#808080;width:18px;font-grey;}
.calMday {color:#868686;background:#060a0b;}
.calMdayA {color:#989898;background:#989898;}
.calMdayIs {color:#989898;background:#444444;font-weight:bold;}
.calMdayIsA {color:#989898;border:1px solid #808080;background:#989898;font-grey;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none;color:#989898;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none;color:#989898;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline;color:#989898;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:underline;color:#000000;}
/* ------------------------ */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#000000}
.textResults {background:#FFFFFF}
.textResultsTd {background:#700000}

.pollNow {background:#FFFFFF}
.pollNowTd {background:#700000}

.totalVotesTable {background:#FFFFFF}
.totalVotesTd {background:#700000}
.poll .answer div div {height:10px !important;border:1px solid #464646;background:#202020;}

/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:#28db04 !important;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:#ff0000 !important;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:#ff9900 !important;}
a.groupFriends:link,a.groupFriends:visited,a.groupFriends:hover {color:#fff200 !important;}
a.groupBanned:link,a.groupBanned:visited,a.groupBanned:hover {color:#474747 !important;}
a.groupOther1:link,a.groupOther1:visited,a.groupOther1:hover {color:#d12727 !important;}
a.groupOther2:link,a.groupOther2:visited,a.groupOther2:hover {color:#117520 !important;}
a.groupOther3:link,a.groupOther3:visited,a.groupOther3:hover {color:#2954ff !important;}
a.groupOther4:link,a.groupOther4:visited,a.groupOther4:hover {color:#00aeff !important;}
a.groupOther5:link,a.groupOther5:visited,a.groupOther5:hover {color:#8442ff !important;}
a.groupOther6:link,a.groupOther6:visited,a.groupOther6:hover {color:#6d76ab !important;}
a.groupOther7:link,a.groupOther7:visited,a.groupOther7:hover {color:#48a862 !important;}
a.groupOther8:link,a.groupOther8:visited,a.groupOther8:hover {color:#614141 !important;}
/* ---------------- */

/* Other Styles */
.replaceTable {background:#515151;height:100px;width:300px;border:1px solid #060a0b;}
.replaceBody {background:#1B1B1B;}
.legendTd {font-size:7pt;}
.mydiv {padding:3px 0;text-align:center;background:#515151;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:#2A2A2A;}
.gTableSubTop {padding:2px;background:#000000;color:#D2CBC0;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#000000;}
.gTableBody1 {padding:2px;background:#000000;}
.gTableBottom {padding:2px;background:#000000;}
.gTableLeft {padding:2px;background:#000000;font-weight:bold;color:#D2CBC0}
.gTableRight {padding:2px;background:#000000;color:#666666;}
.gTableError {padding:2px;background:#000000;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#0B0B0B}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:#111111}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#FFFFFF;}
a.catLink:visited {text-decoration:none; color:#FFFFFF;}
a.catLink:hover {text-decoration:underline; color:#CCCCCC;}
a.catLink:active {text-decoration:underline; color:#FFFFFF;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:7pt;color:#FF0000;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#888888;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#c0c0c0;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:underline; color:#c0c0c0;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#FFFFFF;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#c0c0c0;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {padding-bottom:7px;font-weight:bold;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#CCCCCC;}
a.forumBarA:visited {text-decoration:none; color:#CCCCCC;}
a.forumBarA:hover {text-decoration:underline; color:#FFFFFF;}
a.forumBarA:active {text-decoration:underline; color:#CCCCCC;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#862D2D;color:#FFFFFF;}
.fastNavCat {background:#F9E6E6;}
.fastNavCatA {background:#F9E6E6;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.pagesInfo {background:#000000;padding-right:10px;font-size:7pt;}
.switches {background:#2B2B2B;}
.switch {background:#111111;width:15px;font-size:7pt;}
.switchActive {background:#FCA735;font-weight:bold;color:#000000;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#CCCCCC;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#CCCCCC;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#FFFFFF;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#CCCCCC;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#0B0B0B}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:#111111}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#333333;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#000000;height:20px;font-weight:bold;font-size:7pt;color:#E9D0B3;padding-left:40px; }
.threadsDetails {padding:2px;background:#000000;height:20px;color:#D2CBC0;}
.forumOnlineBar {padding:2px;background:#252525;color:#D2CBC0;height:20px;font-size:10px;}

a.threadPinnedLink:link {text-decoration:none; color:#CCCCCC;}
a.threadPinnedLink:visited {text-decoration:none; color:#CCCCCC;}
a.threadPinnedLink:hover {text-decoration:underline; color:#FFFFFF;}
a.threadPinnedLink:active {text-decoration:underline; color:#CCCCCC;}

.threadPinnedLink,.threadLink {font-weight:bold;}
a.threadLink:link {text-decoration:none; color:#CCCCCC;}
a.threadLink:visited {text-decoration:underline; color:#CCCCCC;}
a.threadLink:hover {text-decoration:none; color:#FFFFFF;}
a.threadLink:active {text-decoration:underline; color:#CCCCCC;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* Posts View */
.postTable {background:#151515}
.postPoll {background:#0B0B0B;text-align:center;}
.postFirst {background:#0B0B0B;border-bottom:1px solid silver;}
.postRest1 {background:#0B0B0B;}
.postRest2 {background:#0B0B0B;}
.postSeparator {height:2px;background:#FCA735;}

.postTdTop {background:#242427;color:#D2CBC0;height:20px;font-size:10px;}
.postBottom {background:url('/.s/t/882/14.gif');height:10px;font-weight:bold;color:#E9D0B3; }
.postUser {font-weight:bold;}
.postTdInfo {background:#0B0B0B;text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#D2CBC0;}
.posttdMessage {background:#000000;padding:5px;}

.postPoll {padding:5px;}
.pollQuestion {text-align:center;font-weight:bold;}
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#282318;font-size:9px;}
.quoteMessage {background:#282318;font-size:9px;}

.signatureView {font-size:7pt;}
.edited {padding-top:30px;font-size:7pt;text-align:right;color:#C44500;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#FFFF00;}
.statusOffline {color:#FFFFFF;}
/* ---------- */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('/.s/t/882/15.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('/.s/t/882/15.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* Post Form */
.queryField, .loginField {background:#000000;color:#505050;border:1px solid #202020;}

.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background:url('/.s/t/882/16.gif') center #CFB683;color:#44361E;border:1px solid #44361E;}

.codeButtons {font-size:7pt;background:url('/.s/t/882/16.gif') center #CFB683;color:#44361E;border:1px solid #44361E;}
.codeCloseAll {font-size:7pt;background:url('/.s/t/882/16.gif') center #CFB683;color:#44361E;border:1px solid #44361E;font-weight:bold;}
.postNameFl,.postDescrFl {background:#111111;border:1px solid #282318;width:400px;color:#666666;}
.postPollFl,.postQuestionFl {background:#111111;border:1px solid #282318;width:400px;color:#666666;}
.postResultFl {background:#111111;border:1px solid #282318;width:50px;color:#666666;}
.postAnswerFl {background:#111111;border:1px solid #282318;width:300px;color:#666666;}
.postUserFl {background:#111111;border:1px solid #282318;width:300px;color:#666666;}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* --------- */

/* ====== forum End ====== */











td.forumLastPostTd,
td.forumIcoTd,
td.threadIcoTd,
td.forumNameTd,
td.threadNametd,
td.forumPostTd,
td.threadPostTd,
td .threadViewTd,
td.threadAuthTd,
td.forumThreadTd,
td.threadLastPostTd {color:#bbbbbb;}
table.gTable tr:hover td.forumLastPostTd,
table.gTable tr:hover td.forumIcoTd,
table.gTable tr:hover td.threadIcoTd,
table.gTable tr:hover td.forumNameTd,
table.gTable tr:hover td.threadNametd,
table.gTable tr:hover td.forumPostTd,
table.gTable tr:hover td.threadPostTd,
table.gTable tr:hover td.threadViewTd,
table.gTable tr:hover td.threadAuthTd,
table.gTable tr:hover td.forumThreadTd,
table.gTable tr:hover td.threadLastPostTd,
table.gTable tr:hover td.forumLastPostTd {border:0px solid #313737;color:#ffffff;background:#000000;;}


.posttdMessage img {max-width:550px;} /* Макс. ширина */ 
.posttdMessage img {max-height:370px;} /* Макс. высота */


 .s{ 
 float: right; 
 }
 
 /* Scroll bar */
BODY {scrollbar-face-color: #333333;scrollbar-shadow-color: #222222;scrollbar-highlight-color: #333333;scrollbar-3dlight-color: #444444;scrollbar-darkshadow-color: #323232;scrollbar-track-color: #000000;scrollbar-arrow-color: #222222;font-family: Helvetica, sans-serif;FONT-SIZE: 9pt;COLOR: #808080;margin: 0;padding: 0;}
/* --------- */

/* Стиль цитат и кодов форума */ 
.bbCodeBlock {border:2px solid #080808; margin:2px 0px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;} 
 .bbCodeName {display:none;} 
 .codeMessage {color:#f8f8f8; background:#8b332f; font-size:12px; font-family:Courier new; border:1px solid #c54d47 !important; padding:5px; margin-top:1px; text-shadow:0px 0px 0px #4f0e0c !important; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;} 

 .bbQuoteBlock {border:2px solid #080808; margin:2px 0px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;} 
 .bbQuoteName {display:none;} 
 .quoteMessage {color:#f8f8f8; font-size:11px; font-family:tahoma; background:#4d8633; border:1px solid #71bf4d !important; padding:5px; text-shadow:0px 0px 0px #2d5a18 !important; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
/* --------- */

/* Темное меню */
ul.uz {list-style: none; margin: 0 0 0 0; padding-left: 0px;} 
li.m {color: #cccccc; border:1px solid #222222; margin: 2px; padding: 2px 2px 2px 8px; background: #101010;} 
li.m:hover {color: #cccccc; border:1px solid #222222; margin: 2px; padding: 2px 2px 2px 8px; background: #141414;} 
li.fr {color: #cccccc; border:1px solid #222222; margin: 2px; padding: 2px 2px 2px 8px; background: #101010;} 
li.fr:hover {color: #cccccc; border:1px solid #222222; margin: 2px; padding: 2px 2px 2px 8px; background: #141414;}
/* --------- */

/* Profile Style */ 
 .profile {border:1px solid #303030;background:#101010;opacity: 0.8;}
 .profile:hover {border:1px solid #505050;background:#161616;opacity: 1.0;}
 .pHello {font-weight:bold;padding-left:2px;border-bottom:1px dashed #505050;}
 .pAvatar {margin:3px;}
 .pMenu {border-left:1px dashed #505050;}
 .pMenu a {padding-left:3px;padding-bottom:3px;}
 .pLogin {padding:3px;} 
/* ------------- */